numpy==1.24.4
torch==2.5.1
scipy==1.14.1
matplotlib==3.10.0
seaborn==0.13.2         
h5py==3.12.1            
soundfile==0.12.1       
tables==3.10.1
torchaudio==2.5.1
torchvision==0.20.1
tonic==1.5.0
xlsxwriter==3.2.0
hydra-core==1.3.2
neurobench==1.0.6
pandas==2.2.3
snntorch==0.7.0
omegaconf==2.3.0
KDEpy==1.1.11
-e git+https://github.com/fmi-basel/stork.git@40c68fe#egg=stork
git+https://github.com/fzenke/randman#egg=randman
